<h1>The Logz</h1>
<em>Showing most recent 100 log entries.</em>

<table>
	<tr>
			<th>When</th>
			<th>Request</th>
			<th>Result</th>
			<th>Kind</th>
	</tr>
	
	<% @logs.each do |log| %>
		<tr>
				<td><%= log.created_at.strftime( '%m/%d/%Y %I:%M %p' ) %></td>
				<td><%= log.request %></td>
				<td><%= log.result %></td>
				<td><%= log.label %></td>
		</tr>
	<% end %>
	
</table>
		
		
<h2>Requests by Year</h2>
<table>
	<tr>
			<th>Year</th>
			<th>Requests</th>
	</tr>
	
	<% @years.each do |y| %>
		<tr>
				<td><%= y.year.strftime( '%Y' ) %></td>
				<td><%= y[ "count(request)" ] %></td>
		</tr>
	<% end %>
	
</table>
		
<% content_for :head do %>
	<meta http-equiv="refresh" content="10"/>
<% end %>